.aftermath {
	
}
.aftermath .sheet-header {
	flex: 0 0 100px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;
}
.aftermath .skills-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.aftermath .rollable {
	
}
.aftermath .action {
	
}